.App {
  width: 100vw;
  height: 100vh;
  background: url('./yellow-bg.png');
}

.wrapper {
  margin: 0 auto;
  max-width: 540px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.bubble {
  padding: 40px 60px;
  margin: 170px 10px 0 0;
  border-radius: 40px;
  position: absolute;
  background: url('./background.png');
  z-index: 1;
}

.quote, h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
  font-weight: 100;
}

.quote:before {
  height: 70px;
  width: 130px;
  background: url('./background.png');
  content: '';
  position: absolute;
  bottom: -15px;
  left: 22px;
  transform: rotate(-30deg) skewX(-50deg);
  z-index: -1;
}

button {
  background: url('./button.png');
  background-size: 100px;
  width: 100px;
  height: 92px;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

/* Fade Appear */

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 300ms linear;
}

/* Fade Exit */

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: all 400ms linear;
}

.fade-exit-done {
  opacity: 0;
}


/* Fade Enter */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 500ms linear 500ms;
}

@media all and (max-width: 520px) {
  html {
    font-size: 12px;
  }

  .bubble {
    padding: 20px 40px;
  }

  .quote:before {
    bottom: 5px;
    transform: rotate(-30deg) skewX(-30deg);
  }
}


@media all and (max-width: 350px) {
  html {
    font-size: 10px;
  }

  .bubble {
    padding: 12px 25px;
  }
}